---
import Layout from "@layouts/Default.astro";
import CamVideoList from "@components/CamVideoList.astro";
---

<Layout title="Survillance">
  <div class="max-w-4xl mx-auto px-4 md:px-0 py-4">
    <h1 class="text-3xl font-weight">Kitcam survillance</h1>
    <CamVideoList />
  </div>
</Layout>
