---
import Layout from "@layouts/Default.astro";
import CamVideoList from "@components/CamVideoList.astro";
---

<Layout title="Survillance">
  <div class="max-w-3xl mx-auto px-4 md:px-0 py-4">
    <h1 class="text-3xl font-weight">Kitcam survillance</h1>
    <CamVideoList />
    <p class="my-4">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita
      corrupti mollitia placeat, minima ex aut accusantium similique earum
      cumque dolores dolorum necessitatibus, nisi consequatur quia aliquid sint.
      Nulla, ducimus tempore.
    </p>
    <p class="my-4">
      Provident praesentium animi aliquam, tempore eaque dicta voluptatum
      obcaecati nam similique, doloribus natus voluptatem? Maxime repellendus
      facere, perspiciatis iste voluptatum hic, qui itaque, nostrum expedita
      tempore quaerat similique voluptate ipsam?
    </p>
    <p class="my-4">
      Aspernatur voluptatum impedit soluta earum quam sequi tenetur odio, alias
      harum eaque eveniet voluptatem praesentium cum incidunt nisi, temporibus
      eum rem. Quas dolorum voluptatum ratione alias quibusdam cumque mollitia
      molestias.
    </p>
    <p class="my-4">
      Facere nostrum, est eum suscipit maiores quod vero quo animi voluptatem
      atque quia voluptatibus eaque ducimus facilis enim consectetur ex deleniti
      molestias! Consequuntur aspernatur, velit nostrum necessitatibus odio
      sint? Exercitationem!
    </p>
    <p class="my-4">
      Aliquam molestias deleniti vero praesentium hic perspiciatis repudiandae
      dignissimos enim, minus quaerat illo quae maiores voluptate laudantium
      soluta. Suscipit nisi ex similique eveniet! Eius similique praesentium
      blanditiis rerum, totam commodi.
    </p>
    <p class="my-4">
      Distinctio doloribus, quo a amet voluptates vero. Sed aspernatur earum
      iure veniam vel numquam, enim ut corrupti quod, provident ad distinctio
      delectus iste impedit fugiat et repudiandae eos dolores. Beatae.
    </p>
  </div>
</Layout>
