---
import "../styles/global.css";
import Notification from "@components/Notification.astro";

const { title = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/security/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | Kitcam` : "Kitcam"}</title>
  </head>
  <body>
    <main class="">
      <slot />
    </main>
    <Notification />
  </body>
</html>

<script>
  const notification = Alpine.store("notification");

  const sse = new EventSource(import.meta.env.PUBLIC_SSE_SERVER);

  sse.addEventListener("open", () => {
    notification.create({
      message: "Monitor initializated...",
      type: "alert-info",
      isSoft: true,
    });
  });

  sse.addEventListener("error", () => {
    notification.create({
      message: "Error on monitor conection, trying again...",
      type: "alert-error",
      isSoft: true,
    });
  });

  sse.addEventListener("fileAdded", (e) => {
    const data = JSON.parse(e.data);
    const { files } = data;

    if (files.length) {
      notification.create({
        message: "New files added",
        type: "alert-info",
      });
    }

    const $reloadButton = document.querySelector("#reloadBtn");
    $reloadButton?.click();
  });
</script>
